* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  margin: 0 auto;
  height: 100%;
  position: relative;
}

#root {
  max-width: 22.5rem;
  margin: 0 auto;
}

main {
  background: #F7F7F7;
  width: 22.5rem;
}

@media (min-width: 768px) {
  #root {
    max-width: 80rem;
    margin: 0 auto;
  }

  main {
    background: #F7F7F7;
    width: 80rem;
  }
}


body {
  margin: 0;
  background-image: linear-gradient(to bottom, #fff, #A076F2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}